// Place your mixins here. Feel free to roll your own mixins.

// breakpoints on the fly
@mixin breakpoint-at($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) { @content; }
}

// Vertical align
@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
