// brand colors
$brand-blue: #077dbb;
$brand-orange: #fa933b;
$brand-green: #77aa4e;

// ui colors
$ui-white: #ffffff;
$ui-light-gray: #f5f5f5;
$ui-medium-gray: #cccccc;
$ui-dark-gray: #5e6367;
$ui-black: #000000;

// font families
// $pac-font-stack-sans: "adelle-sans", sans-serif;

// rounded corners
$default-corner-radius: 10px;

// box shadow
$default-box-shadow: 0px 0px 20px transparentize($ui-black, .6);
