{% extends "_layouts/_layout-primary.html" %}

{% block main_content %}
<div class="sg-page">
    <div class="row">
        <div class="small-12 columns">
            <h1>Introduction</h1>
            <p>
                Is she pretty? That's Calvin Klein, oh my god, he's a dream. Yes, yes, I'm George, George McFly, and I'm your density. I mean, I'm your destiny. Yeah. Well, bring her along. This concerns her too.
            </p>
            <p>
                he's an idiot, comes from upbringing, parents were probably idiots too. Lorraine, if you ever have a kid like that, I'll disown you. Bear with me, Marty, all of your questions will be answered. Roll tape, we'll proceed. Yeah, well uh, lets keep this brain melting stuff to ourselves, okay? You can't, uh, that is, uh, nobody's home. That's George McFly.
            </p>
            <p>
                Of course not, Biff, now I wouldn't want that to happen. Now, uh, I'll finish those reports up tonight, and I'll run em them on over first thing tomorrow, alright? Where? It was meant to be. Anyway, if Grandpa hadn't hit him, then none of you would have been born. Right. Oh.
            </p>
        </div>
    </div>
</div>
{% endblock %}
